* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
}
* a:hover {
  color: inherit;
}
* .nav {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: rgba(153, 145, 145, 0.5);
  font-weight: 800;
}
* .nav .logo {
  font-size: 30px;
  color: #fff;
}
* .nav .menu a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}
* .guide {
  padding: 15vh 5vw 0 5vw;
}
* .title {
  padding: 0 5vw 0 5vw;
}
* .pic {
  padding: 0;
}
* .pic img {
  width: 100%;
}
* .introduce, * .location {
  padding: 5vh 5vw 0 5vw;
}