* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
}
* a:hover {
  color: inherit;
}
* .nav {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: rgba(153, 145, 145, 0.5);
  font-weight: 800;
  z-index: 1;
}
* .nav .logo {
  color: #fff;
}
* .nav .menu a {
  color: white;
  text-decoration: none;
}
* .banner {
  height: 600px;
  background-image: url("../img/mountain.jpeg");
  background-position: cover;
}
* .keyWord {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 49px;
}
* .category, * .area, * .submit {
  height: 49px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
* .category {
  margin-right: 25px;
}
* .remind {
  height: 48px;
  background-color: black;
  color: #fff;
  font-size: 18px;
}
* .remind p {
  margin: 0;
}
* .activity, * .hostel, * .food {
  position: relative;
}
* .activity .moreBtn, * .hostel .moreBtn, * .food .moreBtn {
  width: 144px;
  height: 52px;
  background-color: #FD975E;
  border-radius: 100px;
  position: absolute;
  right: 60px;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {
  * .activity .moreBtn, * .hostel .moreBtn, * .food .moreBtn {
    top: 75px;
    right: calc(50% - 72px);
  }
}
* .title_tourist p, * .title_activity p, * .title_food p, * .title_hostel p {
  font-size: 36px;
}
* .content_tourist {
  height: 124px;
  font-weight: 600;
  color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
* .taipei101 {
  background-image: url("https://stage.taipei101mall.com.tw/uploads/seo/616965e786aab.png");
}
* .neiwan {
  background-image: url("https://img.jatraveling.tw/2018/05/1525863341-b72e2cfa581a6ef54caf8d280d36322f.jpg");
}
* .rainbow {
  background-image: url("https://cdn.hk01.com/di/media/images/dw/20220804/631865005720997888340719.jpeg/2DAcGwgtiHwMt_CnkwLYA3w53P0YSji7gN_9NIDf_TQ?v=w1920");
}
* .dakeng {
  background-image: url("https://travel.taichung.gov.tw/image/31573?r=637837893159886666");
}
* .fall {
  background-image: url("https://www.ali-nsa.net/image/5861/1024x768");
}
* .content_activity, * .content_food {
  padding: 0;
  border-radius: 20px;
  border: 3px solid rgba(221, 221, 221, 0.8666666667);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
* .content_activity .img_activity, * .content_activity .img_food, * .content_food .img_activity, * .content_food .img_food {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17px 17px 0 0;
}
* .content_activity:hover {
  border-color: #FD975E;
}
* .content_food:hover {
  border-color: #FD975E;
}
* .text {
  padding: 10px 20px;
}
* .text .name {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
* .text .location, * .text .time, * .text .phone {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
* .footer {
  background-color: #FD975E;
  color: white;
  height: 64px;
  font-size: 24px;
  font-weight: 700;
}